.backgroundWithBorder {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 3;
}
.button {
    -fx-background-color: D65A31;
}
.text-area {
    -fx-background-color: white;
}
.table-colum {
    -fx-background-color: #222831;
    -fx-border-color: black;
}
.table-row-cell .text{
    -fx-fill: white;
    -fx-cursor: hand;
}
.table-row-cell:selected .text {
    -fx-fill: orange;
}
.text {
    -fx-fill: white;
}

.headline{
    -fx-fill: white;
    -fx-font-size: 15;
}

.choice-box .text {
    -fx-fill: Orange;
    -fx-font-size: 15;
}
.choice-box .menu-item{
    -fx-background-color: #222831;
}
.choice-box {
    -fx-background-color: #222831;
}
.choice-box{
    -fx-fill: black;
}

